<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Forestation - Changing Climate</title>
<style>
    /* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
    body{        
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .GeneratedMarquee {
        font-family:'Comic Sans MS';
        font-size:2em;
        line-height:1.3em;
        color:#330099;
        background-color:#CCFFFF;
        padding:1.5em;

    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: rgb(60,255,51);
        padding: 10px 0;
        color: rgb(60,255,51);
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }
    .container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    nav a{
        /* color: #fff; */
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
</style>
</head>
<body>
    <div class="fixed-header">
        <div class="container">
            <!-- Codes by HTML.am -->

<!-- CSS Code -->
<style type="text/css" scoped>
    .GeneratedMarquee {
    font-family:'Comic Sans MS';
    font-size:2em;
    line-height:1.3em;
    color:#330099;
    background-color:#CCFFFF;
    padding:1.5em;
    
    }
    </style>
    
    <!-- HTML Code -->
    <marquee class="GeneratedMarquee" direction="left" scrollamount="5" behavior="scroll">Plant trees, Save future...Changing climate, making a difference!</marquee>
    
    
            <!-- <img src="E:\Installables\NodeJS\code\Test1\resources\header.jpg" alt="logo" width="100%"" height="10%" /> -->
            <!-- <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Products</a>
                <a href="#">Services</a>
                <a href="#">Contact Us</a>
            </nav> -->
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <form name="form3" method="POST">
        <table>
            <tr>
            <td>Proposal ID</td>
            <td><input type="text" name="proposalid", required ></td>
            </tr>
            <tr>
            <td>Submission ID</td>
            <td><input type="text" name="submissionid" required ></td>
            </tr>
            <tr>
                <td>NGO name</td>
                <td><input type="text" name="ngoname" required></td>
                </tr>
            <tr>
                <td>Location</td>
                <td><input type="text" name="location" required></td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td><input type="number" name="amount" required></td>
                    </tr>
                    <tr>
                        <td>Number of trees</td>
                        <td><input type="number" name="numtrees" required></td>
                        </tr>
            <tr>
            <td colspan="2"><input type="submit" value="Save" ></td>
            </tr>
        </table>
        </form> 
    <div class="fixed-footer">
        <div class="container">Copyright &copy; Government of India</div>        
    </div>
</body>
